@model Book

<h2>Edit Book</h2>

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Title</label>
    <input type="text" name="Title" value="@Model.Title" />

    <label>Author</label>
    <input type="text" name="Author" value="@Model.Author" />

    <label>Price</label>
    <input type="number" step="0.01" name="Price" value="@Model.Price" />

    <button type="submit">Update</button>
</form>
