@page
<h2>Add Book</h2>

<form method="post">
    <input type="text" placeholder="Title" /><br />
    <input type="text" placeholder="Author" /><br />
    <input type="number" placeholder="Price" /><br />
    <button type="submit">Add</button>
</form>
