@model IEnumerable<LibraryManagementSystem.Models.Book>

<h2>Books List</h2>

<a href="/Books/Create">Add New Book</a>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author.Name</td>
            <td>
                <a href="/Books/Delete/@item.BookID">Delete</a>
            </td>
        </tr>
    }
</table>
